<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="zeengEntities" connectionString="metadata=res://*/Model.Zeeng.csdl|res://*/Model.Zeeng.ssdl|res://*/Model.Zeeng.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.0.85;user id=sazeeng;password=zeengdev;persistsecurityinfo=True;database=zeeng&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>