@{
    ViewBag.Title = "Cadastrar Produto";
}

<style>
    .slick_demo_2 .ibox-content {
        margin: 0 5px;
        padding: 5px;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perfil do produto</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="/Produto/">Produtos</a>
            </li>
            <li class="active">
                <strong>Cadastrar</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dados do Produto</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Empresa</label>
                            <div class="col-lg-10">
                                <select id="cmbEmpresa" placeholder="Selecione a empresa" class="chosen-select" name="setor" tabindex="2">></select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Marca</label>
                            <div class="col-lg-10">
                                <select id="cmbMarca" placeholder="Selecione a marca" class="chosen-select" name="setor" tabindex="2">></select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Nome</label>
                            <div class="col-lg-10">
                                <input id="txtNomeproduto" type="text" placeholder="Nome do produto" class="typeahead form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Descrição</label>
                            <div class="col-lg-10">
                                <textarea id="txtDescricao" class="form-control" style="resize:none;" rows="5" placeholder="Descrição do produto"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Site</label>
                            <div class="col-lg-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">http://</span> <input id="txtUrlsite" type="text" placeholder="Site do produto" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Facebook</label>
                            <div class="col-lg-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">http://</span> <input id="txtFace" type="text" placeholder="Facebook do produto" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Instagram</label>
                            <div class="col-lg-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">http://</span> <input id="txtInsta" type="text" placeholder="Instagram do produto" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Twitter</label>
                            <div class="col-lg-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">http://</span> <input id="txtTw" type="text" placeholder="Twitter do produto" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Youtube</label>
                            <div class="col-lg-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">http://</span> <input id="txtYoutube" type="text" placeholder="Youtube do produto" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Klout</label>
                            <div class="col-lg-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">http://</span> <input id="txtKlout" type="text" placeholder="Klout do produto" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Logo do produto</label>
                            <div class="col-lg-10">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput">
                                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                        <span class="fileinput-filename"></span>
                                    </div>
                                    <span class="input-group-addon btn btn-default btn-file">
                                        <span class="fileinput-new">Selecionar</span>
                                        <span class="fileinput-exists">Alterar</span>
                                        <input type="file" id="imagemMarca" name="imagemMarca" />
                                    </span>
                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                                </div>
                                <span class="help-block m-b-none">Selecione uma imagem nas dimensões 96 x 96</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <br />
                                <button class="btn btn-primary" id="btnSalvar" type="button">Salvar</button>

                            </div>
                            <div class="col-lg-2">
                                <br />
                                <button class="btn btn-white" onclick="cancelar()" type="button">Cancelar</button>

                            </div>

                        </div>
                    </div>

                </div>



            </div>
        </div>

    </div>


</div>

@section styles {

    <link href="~/Content/SweetAlert/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/plugins/chosen/bootstrap-chosen-bootstrap-chosen.css" rel="stylesheet" />
    <link href="~/Content/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />

}

@section scripts {


    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="~/Scripts/plugins/typeahead/bootstrap3-typeahead.js"></script>

    <script>


        $(document).ready(function () {

            $('#cmbEmpresa').on('change', function () {

                if (cmbEmpresa.value != "0") {
                    $('.chosen-single').removeClass("combo-invalido");
                }
            });

            $('#cmbMarca').on('change', function () {

                if (cmbMarca.value != "0") {
                    $('.chosen-single').removeClass("combo-invalido");
                }
            });

            $('#txtNomeproduto').focusout(function () {

                if (txtNomeproduto.value != "") {
                    $('#txtNomeproduto').removeClass("campo-invalido");
                }

            });

            var config = {
                '.chosen-select': { width: "100%" },
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                '.chosen-select-width': {}
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }


            var uri = "/api/ProdutoAPI/GetEmpresas";
            $.getJSON(uri)
                .done(function (data) {

                    $("#cmbEmpresa").append("<option value=" + 0 + ">" + "Selecione uma empresa" + "</option>");
                    $.each(data, function (key, item) {
                        $("#cmbEmpresa").append("<option value=" + item.idempresa + ">" + item.nome + "</option>");
                        $("#cmbEmpresa").trigger('chosen:updated');
                    });


                    $("#btnSalvar").click(function () { SalvarMarca() });




                    padraoMarcas();

                });


            $("#cmbEmpresa").chosen().change(function () {

                var idempresa = $(this).val();
                // alert(idempresa);
                CarregaMarcas(idempresa);
            });

            var uri = "/api/ProdutoAPI/GetListaNomeDeProdutos";
            $.getJSON(uri)
                .done(function (data) {
                    $("#txtNomeproduto").typeahead({
                        source: data, displayText: function (item)
                        { return item.nome }, name: 'produtos'
                    });

                    $(document).on('click', '.typeahead', function () {
                        var current = $("#txtNomeproduto").typeahead("getActive");
                        if (current) {

                            swal({
                                title: "O produto " + current.nome + " já está cadastrado, deseja editar?",
                                text: "Você tem certeza que deseja editar este produto?",
                                type: "warning",
                                showCancelButton: true,
                                cancelButtonText: "Cancelar",
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Sim",
                                closeOnConfirm: false
                            },
                                       function () {
                                           redirecionaEdicao(current.idproduto);
                                       });

                        } else {
                            // Nothing
                        }
                    });

                    $(document).keyup(function (e) {
                        if (e.keyCode == 13) {

                            var current = $("#txtNomeproduto").typeahead("getActive");
                            if (current) {

                                swal({
                                    title: "O produto " + current.nome + " já está cadastrado, deseja editar?",
                                    text: "Você tem certeza que deseja editar este produto?",
                                    type: "warning",
                                    showCancelButton: true,
                                    cancelButtonText: "Cancelar",
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Sim",
                                    closeOnConfirm: false
                                },
                                           function () {
                                               redirecionaEdicao(current.idproduto);
                                           });

                            } else {
                                // Nothing
                            }

                        };
                    });



                });
        });

        function redirecionaEdicao(idprod) {

            window.location = "/produto/editar/" + idprod;


        }

        function padraoMarcas() {
            $("#cmbMarca").empty();
            $("#cmbMarca").append("<option value=" + 0 + ">" + "Selecione uma empresa" + "</option>");
            $("#cmbMarca").trigger('chosen:updated');
        }

        function CarregaMarcas(idempresa) {
            var uri = "/api/ProdutoAPI/GetMarcas?idempresa=" + idempresa;

            $.getJSON(uri)
                .done(function (data) {
                    $("#cmbMarca").empty();


                    $.each(data, function (key, item) {
                        $("#cmbMarca").append("<option value=" + item.idMarca + ">" + item.Nome + "</option>");
                        $("#cmbMarca").trigger('chosen:updated');
                    });
                });

        }

        function VerificaForm() {

            var nomeValidacao = true;
            var empresaValidacao = true;
            var marcaValidacao = true;

            if (cmbEmpresa.value == 0) {
                $('.chosen-single').addClass("combo-invalido");
                empresaValidacao = false;
            }

            if (cmbMarca.value == 0) {
                $('.chosen-single').addClass("combo-invalido");
                marcaValidacao = false;
            }

            if (txtNomeproduto.value == "") {
                $(txtNomeproduto).addClass("campo-invalido");
                nomeValidacao = false;
            }

            return nomeValidacao && empresaValidacao && marcaValidacao;

        }

        function SalvarMarca() {

            if (VerificaForm()) {

                var listaDeRedesSociais = new Array();

                if ($("#txtFace").val() != null) {

                    var r = { "idredesocial": "1", "urlredesocial": $("#txtFace").val() }

                    listaDeRedesSociais.push(r);
                }
                if ($("#txtInsta").val() != null) {

                    var r = { "idredesocial": "3", "urlredesocial": $("#txtInsta").val() }

                    listaDeRedesSociais.push(r);
                }
                if ($("#txtTw").val() != null) {

                    var r = { "idredesocial": "2", "urlredesocial": $("#txtTw").val() }

                    listaDeRedesSociais.push(r);
                }
                if ($("#txtYoutube").val() != null) {

                    var r = { "idredesocial": "4", "urlredesocial": $("#txtYoutube").val() }

                    listaDeRedesSociais.push(r);
                }
                if ($("#txtKlout").val() != null) {

                    var r = { "idredesocial": "5", "urlredesocial": $("#txtKlout").val() }

                    listaDeRedesSociais.push(r);
                }

                var produto = {
                    nome: $("#txtNomeproduto").val(),
                    descricao: $("#txtDescricao").val(),
                    urlsite: $("#txtUrlsite").val(),
                    idmarca: $("#cmbMarca").val(),
                    redessocias: listaDeRedesSociais,
                }

                var nomeProduto = $("#txtNomeproduto").val();
                var idmarcaProduto = $("#cmbMarca").val();
                var data = new FormData();

                if (!data.erro) {
                    window.location.reload();
                } else {
                    alert(data.mensagem);
                }

                var files = $("#imagemMarca").get(0).files;

                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("imagemProduto", files[0]);
                }

                data.append("produto", JSON.stringify(produto));


                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/api/ProdutoAPI/POST?nomeproduto=" + nomeProduto + "&idmarcaProduto=" + idmarcaProduto,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {

                        if (!data.erro) {
                            window.location.reload();
                        } else {
                            alert(data.mensagem);
                        }

                    }

                });

                ajaxRequest.done(function (xhr, textStatus) {

                });
            }
            else {
                ChamaSwal();
            }
        }

        function ChamaSwal() {

            swal({
                title: "Não foi possível cadastrar o produto.",
                text: "Campos obrigatórios não preenchidos adequadamente.",
                showConfirmButton: true,
                confirmButtonText: "Ok"
            },
            function (isConfirm) {
                if (isConfirm) {
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                }
            });
        }

        function cancelar() {
            window.location = "/Produto/";
        }

    </script>
}