<style>

    .BoxConteudoNoticia{
        height: 100px;
        overflow: hidden;
    }

    .boxNoticiaBottom{
        margin-top: 25px;
    }

</style>


<div id="tabelaNoticias">

    <div class="col-lg-12 boxNoticiaTop" >

        <div class="BoxTituloNoticia">
            <label class="tituloNoticia">titulo noticia</label>
        </div>

        <div class="BoxFonteNoticia">
            <label class="fonteNoticia">fonte</label>
        </div>

        <div class="BoxDataNoticia">
            <label class="dataNoticia">data</label>
        </div>

    </div>

    <div class="col-lg-12 boxNoticiaMiddle">

        <div class="BoxConteudoNoticia">
            
            <div class="conteudoNoticia" id="conteudoNoticiaInner">

                A GSMA anunciou hoje o lançamento do "IoT Big Data API Directory", que disponibilizará conjuntos de dados harmonizados a partir de várias fontes disponíveis em todo o mundo para desenvolvedores e terceiros, permitindo-lhes criar novos serviços inovadores da Internet de Coisas (IoT). O diretório, o primeiro do gênero, destina-se a incentivar uma abordagem comum para o compartilhamento de dados que vai ajudar a IoT a atingir todo seu potencial e estimular o desenvolvimento de novos projetos associados ao transporte, meio ambiente e cidades inteligentes. As operadoras globais de telefonia móvel China Mobile, China Unicom, KT Corporation, Orange e Telefónica já implementaram soluções que lhes permitem compartilhar dados harmonizados de IoT.
                "A Internet das Coisas gera um enorme volume de dados que atualmente é mantida em silos verticais. No entanto, para que a IoT alcance todo seu potencial, esses dados precisam ser liberados e disponibilizados para desenvolvedores e terceiros", disse Alex Sinclair, diretor de Tecnologia da GSMA. "Uma abordagem comum, colaborativa e interoperável para o big data removerá as barreiras comerciais e técnicas para capitalizar a oportunidade de IoT, inaugurando uma nova era de soluções de IoT que ajudará no crescimento do mercado. Incentivamos as operadoras de telefonia móvel a colaborar com a indústria em geral para se beneficiar com as oportunidades do big data."
                O diretório de big data de IoT fornece detalhes de IoT e dos conjuntos de dados de contexto que abrangem máquinas, dispositivos, automóveis, estradas, meio ambiente, casas inteligentes e agricultura. Todos os conjuntos de dados são harmonizados e podem ser visualizados no github. Uma abordagem comum para o compartilhamento de dados reduz custos e cria oportunidades para desenvolvedores, corretores de dados e provedores de dados de IoT.
                Principais operadoras móveis fornecem big data de IoT
                A GSMA também lançou um documento chamado "IoT Big Data Framework" para definir como as operadoras de telefonia móvel podem se aproximar da prestação de serviços de big data de IoT. Ele foi concebido para permitir que os participantes da indústria trabalhem juntos em colaboração para oferecer serviços de big data e apoiar um ecossistema de desenvolvedores de aplicativos de terceiros. As operadoras de telefonia móvel são vistas como peças fundamentais na prestação de um ecossistema de big data de IoT, embora grande parte dos dados de IoT coletados virá de uma série de parceiros provedores de dados. O documento apresenta uma estrutura para a prestação de serviços de big data de IoT que reconhece as muitas abordagens diferentes para os serviços que são oferecidos e as escolhas de tecnologia que são feitas. A arquitetura proposta oferece um grau de flexibilidade que permite que os serviços de big data de IoT sejam oferecidos de várias maneiras.
                Demonstrações do big data de IoT no Mobile World Congress 2017
                A GSMA exibirá o trabalho que está sendo realizado sobre big data na IoT durante o Mobile World Congress 2017, em Barcelona ? na Innovation City (Pavilhão 4, Estande 4A30). A Telefónica demonstrará o monitoramento ambiental e como os dados de emissão de CO2 são coletados de sensores de terra e satélites em Nantes (França) e Valência (Espanha) antes de serem analisados. A Orange demonstrará como pode fornecer transporte público harmonizado, estação meteorológica e transmissão de dados de qualidade do ar com base em fontes de dados abertas, heterogêneas e anonimizadas na Índia e na França utilizando os capacitadores de código aberto FIWARE1. A KT Corporation demonstrará uma solução inteligente de cadeia de fornecimento de agricultura, um serviço de informação que fornece detalhes sobre o histórico do cultivo, status de distribuição e garantia de origem de produtos agrícolas, apoiado por um padrão internacional para intercâmbio eletrônico de dados, o GS1 (código Global Standard One ? www.gs1.org). A China Mobile demonstrará no Mobile World Congress de Xangai, em junho de 2017, como sua plataforma de big data de IoT OneNET está ajudando a monitorar e analisar fatores ambientais como a velocidade do vento, a temperatura e a umidade na cidade chinesa de Chongqing.
               

            </div>
            
        </div>

    </div>

    <div class="col-lg-12 boxNoticiaBottom">

        <div class="exibeMaisConteudo">
        <hr>
            <h1>exibe mais</h1>
        </div>

        <div class="BoxAutorNoticia">
            <label class="autorNoticia">data</label>
        </div>

        <div class="BoxLinkNoticia">
            <label class="linkNoticia">data</label>
        </div>
        
    </div>


</div>

<script>

    $(document).ready(function () {

       
    });

    



</script>

