<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- PRODUÇÃO -->
    <!--<add name="zeengEntities" connectionString="metadata=res://*/Model.Zeeng.csdl|res://*/Model.Zeeng.ssdl|res://*/Model.Zeeng.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=187.103.103.11;user id=andre;password=Zeeng1234#;persistsecurityinfo=True;database=zeeng_homolog&quot;" providerName="System.Data.EntityClient" />-->

    <!-- DESENVOLVIMENTO -->
    <add name="zeengEntities" connectionString="metadata=res://*/Model.Zeeng.csdl|res://*/Model.Zeeng.ssdl|res://*/Model.Zeeng.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.0.85;user id=sazeeng;password=zeengdev;persistsecurityinfo=True;database=zeeng&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="zeengEntities" connectionString="metadata=res://*/Model.Zeeng.csdl|res://*/Model.Zeeng.ssdl|res://*/Model.Zeeng.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=zeeng-prod;user id=root;password=Zeeng1234#;persistsecurityinfo=True;database=zeeng&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>